include ../../primitives/heading/heading

mixin range-slider(options = {})

  - const {heading, rangeDescr} = options

  .range-slider
    +heading(heading).range-slider__text
    #range-slider
    if rangeDescr
      .range-slider__description=rangeDescr.text
