include ../../primitives/heading/heading

mixin range-slider(options)
  .range-slider
    +heading({
      title: `${options.title}`,
      descr: `${options.price}`
    }).range-slider__text
    #range-slider
    if options.description
      .range-slider__description=options.description
