.pagination {

  &__container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    cursor: pointer;

    &_current {
      font-weight: 700;
      color: #fff;
      background: $main-gr100;
      border-radius: 22px;
    }
  }

  &__dots {
    cursor: default;
  }

  &__btn {
    display: none;
    position: relative;
    background: $secondary-gr100;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 22px;
    color: #fff;

    &:hover{
      background: $secondary-gr75;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: 'Material Icons';
      font-size: 24px;
      font-weight: 400;
    }

    &_visible {
      display: block;
    }

    &_prev {
      &::before {
        content: "\e5c4";
      }
    }

    &_next {
      &::before {
        content: "\e5c8";
      }
    }
  }

  &__description {
    font-size: 14px;
    color: $ds75;
    text-align: center;
  }
}
