mixin rating(rank)

  .rating&attributes(attributes)
    .rating__body
      .rating__active
      .rating__stars
        input.rating__star(type='radio' name='rating' value='1')
        input.rating__star(type='radio' name='rating' value='2')
        input.rating__star(type='radio' name='rating' value='3')
        input.rating__star(type='radio' name='rating' value='4')
        input.rating__star(type='radio' name='rating' value='5')
    .rating__value=rank
