mixin btn(options)
  case options.typeBtn
    when "link"
      a.btn&attributes(attributes)(
        href=options.href
      )= options.title
    when "button"
      button.btn&attributes(attributes)(
        data-option=options.data,
        type=options.type
      )= options.title
