@import '../../../../scss/_fonts';
@import '../../../../scss/var-font';
@import '../../../../scss/var-color';

.pie-chart {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  &__canvas {
    margin-right: 30px;
  }

  &__legend {
    position: relative;
    margin-bottom: 10px;
    padding-left: 15px;
    color: $ds75;

    &:last-child {
      margin-bottom: 3px;
    }

    &_yellow {
      &:before {
        background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
      }
    }

    &_green {
      &:before {
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      }

    }

    &_purple {
      &:before {
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      }
    }

    &_dark {
      &:before {
        background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
      }
    }

    &:before {
      position: absolute;
      top: 2px;
      left: 0;
      width: 10px;
      height: 10px;
      content: '';
      border-radius: 50%;
    }
  }
}
