mixin pie-chart()
  .pie-chart&attributes(attributes)
    canvas.pie-chart__canvas( height="120" width="120")
    ul.pie-chart__legends
      li.pie-chart__legend.pie-chart__legend_yellow Великолепно
      li.pie-chart__legend.pie-chart__legend_green Хорошо
      li.pie-chart__legend.pie-chart__legend_purple Удовлетворительно
      li.pie-chart__legend.pie-chart__legend_dark Разочарован
