@import '../../scss/_fonts';
@import '../../scss/_nullstyle';
@import '../../scss/_var-color';
@import '../../scss/_var-font';

html {
  @include html;

  background-color: #FFF;
}

.sign-in {
  background: url('./sign-in-background.jpg') no-repeat;
  background-size: cover;
  background-position: bottom;

  &__container {
    max-width: 1198px;
    margin: 0 auto;
    
  }

  &__form {
    display: flex;
    justify-content: center;
    padding: 164px 0;
  }
}

@media (max-width: 400px){
  .sign-in {
    &__container {

    }
  }
}
