include ../../primitives/heading/heading
include ../../primitives/text-field/text-field

mixin date-dropdown(options = {})
  -
    const {
      startTitle={title: "date Dropdown"},
      endTitle={title: "date Dropdown"},
      altTitle={title: "filter date dropdown"},
    } = options

  .date-dropdown
    .date-dropdown__inputs
      .date-dropdown__column
        +heading(startTitle).date-dropdown__title
        +text-field({
          type: "text",
          name: "date-field-start",
          btnMore: true,
          value: "ДД.ММ.ГГГГ"
        }).date-dropdown__input-start
      .date-dropdown__column
        +heading(endTitle).date-dropdown__title
        +text-field({
          type: "text",
          name: "date-field-end",
          btnMore: true,
          value: "ДД.ММ.ГГГГ"
        }).date-dropdown__input-end
    .date-dropdown__filter
      +heading(altTitle).date-dropdown__title
      +text-field({
        type: "text",
        name: "date-field-alt",
        btnMore: true,
        readonly: true,
        value: "Укажите даты пребывания"
      }).date-dropdown__input-alt
    .date-dropdown__datepicker
