.social {
  display: flex;

  &__link {
    height: 100%;

    &:not(:last-child) {
      margin-right: 22px;
    }
  }

  &__ico {
    transition: transform 0.4s linear;

    &:first-child {
      transform: translateY(1px);
    }

    &:hover {
      transform: scale(1.2);
      opacity: 0.7;
    }
  }
}
