mixin social()
  .social
    a.social__link
      img.social__ico(src=require(`../../components/common.blocks/primitives/social/twitter.svg`))
    a.social__link
      img.social__ico(src=require(`../../components/common.blocks/primitives/social/facebook.svg`))
    a.social__link
      img.social__ico(src=require(`../../components/common.blocks/primitives/social/instagram.svg`))
