@import '../air-datepicker/air-datepicker';

.date-dropdown {

  &__inputs {
    display: flex;
  }

  &__column {
    &:first-child {
      margin-right: 20px;
    }
  }

  &__title{
    margin-bottom: 5px;
  }

  &__datepicker {
    position: relative;
    width: 100%;
  }
}
