include ../heading/heading
include ../text-field/text-field

mixin date-dropdown(options)
  .date-dropdown
    .date-dropdown__inputs
      .date-dropdown__column
        +heading({title: options.startTitle}).date-dropdown__title
        +text-field({
          type: "text",
          name: "date-field-start",
          value: options.startValue,
          btnMore: true
        }).date-dropdown__input-start
      .date-dropdown__column
        +heading({title: options.endTitle}).date-dropdown__title
        +text-field({
          type: "text",
          name: "date-field-end",
          value: options.endValue,
          btnMore: true
        }).date-dropdown__input-end
    .date-dropdown__datepicker
