include ../text-field/text-field
include ../heading/heading
include ../radio/radio
include ../toggle/toggle
include ../btn/btn

mixin registration-card(options)
  .registration-card
    form.registration-card__container(action=options.action, method=options.method)
      h1.registration-card__title=options.title
      .registration-card__name
        +text-field({
          type: 'text',
          name: 'registration-name',
          placeholder: 'Имя',
          value: ''
        })
      .registration-card__surname
        +text-field({
          type: 'text',
          name: 'registration-surname',
          placeholder: 'Фамилия',
          value: ''
        })
      .registration-card__gender
        +radio([
          {text: "Мужчина", checked: true},
          {text: "Женщина", checked: false}
        ])
      .registration-card__birth
        +heading({title: 'дата рождения'}).registration-card__sub-title
        +text-field({
          type: 'text',
          name: 'masked-field',
          placeholder: 'ДД.ММ.ГГГГ',
          value: '',
          data: 'text-mask',

        })
      .registration-card__authorization-data
        +heading({title: 'данные для входа в сервис'}).registration-card__sub-title
        +text-field({
          type: 'email',
          name: 'email',
          placeholder: 'Email',
          value: ''
        })
      .registration-card__authorization-data
        +text-field({
          type: 'password',
          name: 'password',
          placeholder: 'Пароль',
          value: ''
        })
      .registration-card__mailing
        +toggle([
          {text: "Получать спецпредложения", checked: false},
        ])
      .registration-card__payment
        +btn({
          typeBtn: 'button',
          title: 'перейти к оплате'
        }).btn_theme-long
      .registration-card__entry
        p.registration-card__description
          | Уже есть аккаунт на Toxin
        +btn({
          typeBtn: 'link',
          href: '#',
          title: 'войти'
        }).btn_theme-hollow.registration-card__btn-enter
