mixin pagination()
  .pagination
    .pagination__container
      button.pagination__btn.pagination__btn_prev
      ul.pagination__items
      button.pagination__btn.pagination__btn_next
    p.pagination__description 1 – 12 из 100+ вариантов аренды
