.date-dropdown {
  display: flex;
  position: relative;

  &__column {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__title {
    margin-bottom: 5.44px;
  }

  &__air{
    position: absolute !important;
    top: 80px;
    display: none;

    &_active {
        display: block;
    }
}
}
