include ../../libraries/glide/glide
include ../../primitives/room-info/room-info
include ../../primitives/rating/rating

mixin room-card(options = {})
  - const {glide, roomInfo, roomRating, totalReviews} = options

  .room-card&attributes(attributes)
    .room-card__carousel
      +glide(glide)
    .room-card__container
      .room-card__info
        +room-info(roomInfo)
      .room-card__rating
        +rating(roomRating)
        .room-card__row
          .room-card__total-reviews=totalReviews
          .room-card__text Отзывов
