@import '../../scss/_fonts';
@import '../../scss/_nullstyle';
@import '../../scss/_var-color';
@import '../../scss/_var-font';

$material-icons-font-path: '~material-icons/iconfont/';
@import 'material-icons/iconfont/material-icons.scss';

@import '../../components/common.blocks/logo/logo';
@import '../../components/common.blocks/heading/heading';
@import '../../components/common.blocks/text-field/text-field';
@import '../../components/common.blocks/dropdown/dropdown';
@import '../../components/common.blocks/date-dropdown/date-dropdown';
@import '../../components/common.blocks/air-datepicker/air-datepicker';
@import '../../components/common.blocks/btn/btn';
@import '../../components/common.blocks/radio/radio';
@import '../../components/common.blocks/toggle/toggle';

@import '../../components/common.blocks/search-card/search-card';
@import '../../components/common.blocks/registration-card/registration-card';
@import '../../components/common.blocks/booking-card/booking-card';
@import '../../components/common.blocks/login-card/login-card';
@import '../../components/common.blocks/room-card/room-card';

html {
  @include html;

  background-color: #E5E5E5;
}

.ui-cards {
  &__logo {
    max-width: 1380px;
    margin: 30px auto 70px;
  }

  &__container {
    max-width: 1158px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }



  &__air{
    width: 320px;
    height: 369px;
    position: relative;
    margin-bottom: 40px;
  }

  &__card{
    margin-bottom: 40px;
  }
}
