@import '../air-datepicker/air-datepicker';

.filter-date-dropdown {
  max-width: 266px;

  &__input {
    cursor: pointer;

    & ~ .material-icons{
      pointer-events: none;
    }
    &:hover ~ .material-icons {
      color: $ds75;
    }
    &:focus ~ .material-icons {
      color: $ds75;
    }
  }

  &__datepicker {
    position: relative;
  }

  .air-datepicker {
    width: 266px;

    &:hover {
      border: 1px solid rgba(31, 32, 65, 0.5);
    }

    &-nav {
      padding: 10px 15px 20px 15px;

      &--title {
        font-size: 17px;
      }
    }

    &--content {
      padding: 0 15px;
      box-sizing: border-box;
      justify-content: center;
    }

    &-body--day-names {
      margin: 0;
      grid-template-columns: repeat(7, 33px);
    }

    &-body--day-name {
      height: 33px;
    }

    &-body--cells {
      &.-days- {
        grid-template-columns: repeat(7, 33px);
        grid-auto-rows: 33px;
      }

      &.-months- {
        grid-template-columns: repeat(4, 50px);
        grid-auto-rows: 50px;
      }

      &.-years- {
        grid-template-columns: repeat(4, 50px);
        grid-auto-rows: 50px;
      }
    }
  }
}
