include ../../primitives/heading/heading
include ../../primitives/checkbox/checkbox

mixin check-list(options = {})
  - const {heading, checkbox, modClass} = options

  .check-list&attributes(attributes)
    .check-list__block
      +heading(heading).check-list__title
      button.check-list__btn.material-icons(class= modClass ? 'check-list__btn_active': '')
        | expand_more
    .check-list__blind(class= modClass ? 'check-list__blind_active': '')
      +checkbox(checkbox)
