include ../text-field/text-field
include ../heading/heading
include ../btn/btn

mixin dropdown(content, isBtn)
  .dropdown
    +text-field({
      type: 'text',
      name: 'dropdown-text',
      value: 'Сколько гостей',
      btnMore: true,
      readonly: true,
    }).dropdown__input
    .dropdown__blind
      each item in content
        .dropdown__row
          +heading({title: `${item.title}`})
          .dropdown__control
            button.dropdown__btn(data-minus, type="button") -
            span.dropdown__count=item.count
            button.dropdown__btn(data-plus, type="button") +
      if isBtn
        .dropdown__text-btns
          +btn({
            typeBtn: 'button',
            type: 'button',
            title: 'очистить',
            data: 'clear'
          }).btn_theme-no-wrapper
          +btn({
            typeBtn: 'button',
            type: 'button',
            title: 'применить',
            data: 'apply'
          }).btn_theme-no-wrapper
