.checkbox {
  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__label {
    display: flex;
    cursor: pointer;
    user-select: none;
  }

  &__input {
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__checkmark {
    position: relative;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 9.74px;
    border: 1px solid $ds25;
    border-radius: 4px;

    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: url("../../components/common.blocks/checkbox/check.svg");
      display: none;
    }
  }

  &__text {
    line-height: 18px;
    font-size: 14px;
  }

  &__title {
    color: $ds75;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px
  }

  &__description {
    margin-top: 4px;
    padding-left: 30px;
    font-size: 12px;
    line-height: 14px;
    color: $ds50;

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }

  &__input:checked ~ &__checkmark {
    border: 1px solid #BC9CFF;
  }

  &__input:checked ~ &__checkmark:after {
    display: block;
  }
}
