@import '../../../../scss/var-font';
@import '../../../../scss/var-color';

.radio {
  display: flex;

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__input {
    height: 0;
    width: 0;
    opacity: 0;
  }

  &__checkmark {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 20px;
    width: 20px;
    margin-right: 10px;
    border: 1px solid $ds25;
    border-radius: 10px;

    &:after {
      width: 12px;
      height: 12px;
      background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-radius: 10px;
      content: '';
      display: none;
    }
  }

  &__text {
    font-size: 14px;
    color: $ds75;
  }

  &__input:checked ~ &__checkmark {
    border: 1px solid $purple;
  }

  &__input:checked ~ &__checkmark:after {
    display: block;
  }
}
