mixin radio(options = [])
  .radio
    each item in options
      -
        const {
          name = 'gender',
          checked,
          text
        } = item

      label.radio__label
        input.radio__input(type='radio', name=name, checked=checked)
        .radio__checkmark
        .radio__text=text
