include ../text-field/text-field

mixin filter-date-dropdown(options)
  .filter-date-dropdown
    .filter-date-dropdown__text-field
      +text-field({
        type: "text",
        name: "filter-date-dropdown",
        value: "",
        readonly: true,
        btnMore: true
      }).filter-date-dropdown__input
    .filter-date-dropdown__datepicker
