@import '../../scss/_fonts';
@import '../../scss/_nullstyle';
@import '../../scss/_var-color';
@import '../../scss/_var-font';

@import '../../components/common.blocks/primitives/logo/logo';

@import '../../components/common.blocks/primitives/heading/heading';
@import '../../components/common.blocks/primitives/text-field/text-field';
@import '../../components/common.blocks/composite/dropdown/dropdown';
@import '../../components/common.blocks/composite/date-dropdown/date-dropdown';
@import '../../components/common.blocks/composite/filter-date-dropdown/filter-date-dropdown';

@import '../../components/common.blocks/primitives/checkbox/checkbox';
@import '../../components/common.blocks/primitives/radio/radio';
@import '../../components/common.blocks/primitives/toggle/toggle';
@import '../../components/common.blocks/primitives/like/like';
@import '../../components/common.blocks/primitives/rating/rating';

@import '../../components/common.blocks/primitives/btn/btn';
@import '../../components/common.blocks/primitives/pagination/pagination';
@import '../../components/common.blocks/composite/check-list/check-list';
@import '../../components/common.blocks/primitives/bullet-list/bullet-list';

@import '../../components/common.blocks/primitives/information/information';
@import '../../components/common.blocks/composite/comment/comment';

@import '../../components/common.blocks/composite/range-slider/range-slider';

html {
  @include html;

  background-color: #FFF;
}

.ui-elements {
  &__logo {
    max-width: 1380px;
    margin: 30px auto 63px;
  }

  &__container {
    max-width: 1158px;
    margin: 0 auto;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    &-column {
      flex: 0 0 320px;

      &:nth-child(2) {
        margin-left: 55px;
      }
    }
  }

  // top left

  &__text-def {
    margin-bottom: 20px;
  }

  &__text-hov {
    margin-bottom: 20px;
  }

  &__guests-drop {
    margin-bottom: 23px;
  }

  &__text-mask {
    margin-bottom: 40px;
  }

  &__date-drop {
    margin-bottom: 41px;
  }

  &__filter-date-drop{
    margin-bottom: 41px;
  }

  &__subs {
    max-width: 266px;
  }

  // top centr

  &__check-btn {
    margin-bottom: 43px;
  }

  &__title-centr {
    margin-bottom: 16px;
  }

  &__radio {
    margin-bottom: 41px;
  }

  &__toggle {
    margin-bottom: 44px;
  }

  &__like {
    margin-bottom: 40px;

    &-conteiner {
      display: flex;
    }

    &-left {
      margin-right: 10px;
    }
  }

  &__rating {

    &-conteiner {
      display: flex;
    }

    &-left {
      margin-right: 20px;
    }
  }

  // top right

  &__slider {
    margin-bottom: 43px;
  }

  &__title-right {
    margin-bottom: 16px;
  }

  &__btn {
    margin-bottom: 41px;
    max-width: 320px;

    &-row {
      margin-bottom: 30px;

      &:nth-child(3) {
        margin-bottom: 31px;
      }
    }

    &-link-left {
      margin-right: 18px;
    }

    &-left {
      margin-right: 22px;
    }
  }

  // section dropdowns
  &__dropdowns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 157px;

    &-column {
      flex: 0 0 320px;

      &:first-child {
        flex-basis: 266px;
      }

      &:nth-child(2){
        margin-left: 108px;
      }
    }

  }

  &__drop-title {
    margin-bottom: 5px;
  }

  &__drop-room {
    margin-bottom: 20px;
  }
  // section list

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;

    &-column {
      flex: 0 0 320px;

      &:nth-child(2){
        margin-left: 55px;
      }
    }

    &-title{
      margin-top: 15px;
      margin-bottom: 17px;
    }

    &-title-right {
      margin-top: 15px;
      margin-bottom: 13px;
    }
  }

  &__checklist{
    margin-bottom: 20px;
  }


  // section footer
  &__footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 132px;
  }

  &__comment{
    margin-top: 30px;
    margin-right: 2px;
  }

}
