include ../../components/common.blocks/primitives/logo/logo
include ../../components/common.blocks/primitives/heading/heading
include ../../components/common.blocks/primitives/text-field/text-field
include ../../components/common.blocks/composite/dropdown/dropdown
include ../../components/common.blocks/composite/date-dropdown/date-dropdown

include ../../components/common.blocks/primitives/checkbox/checkbox
include ../../components/common.blocks/primitives/radio/radio
include ../../components/common.blocks/primitives/toggle/toggle
include ../../components/common.blocks/primitives/like/like
include ../../components/common.blocks/primitives/rating/rating
include ../../components/common.blocks/composite/range-slider/range-slider
include ../../components/common.blocks/primitives/btn/btn
include ../../components/common.blocks/primitives/pagination/pagination
include ../../components/common.blocks/composite/check-list/check-list
include ../../components/common.blocks/primitives/bullet-list/bullet-list
include ../../components/common.blocks/primitives/information/information
include ../../components/common.blocks/composite/comment/comment

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title ui-elements
  body
    .ui-elements
      .ui-elements__logo
        +logo()
      main.ui-elements__container
        section.ui-elements__top
          .ui-elements__top-column
            .ui-elements__text-def
              +heading({
                title: 'Text Field',
                description: 'Default'
              }).ui-elements__title
              +text-field({
                type: 'email',
                name: 'email-field',
                placeholder: 'Email',
                value: ''
              })
            .ui-elements__text-hov
              +heading({
                title: 'Text Field',
                description: 'Hover / Focus'
              }).ui-elements__title
              +text-field({
                type: 'text',
                name: 'text-field',
                placeholder: 'This is pretty awesome',
                value: 'This is pretty awesome'
              }).text-field__input_active
            .ui-elements__guests-drop
              +heading({title: 'Dropdown'}).ui-elements__title
              +dropdown([
                {title: "взрослые", count: 0},
                {title: "дети", count: 0},
                {title: "младенцы", count: 0},
              ], true)
            .ui-elements__text-mask
              +heading({title: 'masked text field'}).ui-elements__title
              +text-field({
                type: 'text',
                name: 'masked-field',
                placeholder: 'ДД.ММ.ГГГГ',
                value: '',
                data: 'text-mask'
              })
            .ui-elements__date-drop
              +date-dropdown()
            .ui-elements__filter-date-drop
              +date-dropdown()
            .ui-elements__subs
              +heading({
                title: 'subscription text field'
              }).ui-elements__title
              +text-field({
                type: 'email',
                name: 'subscription',
                placeholder: 'Email',
                btnForward: true
              })

          .ui-elements__top-column
            .ui-elements__check-btn
              +heading({title: 'Checkbox Buttons'}).ui-elements__title-centr
              +checkbox([
                {text: "Можно курить", checked: false},
                {text: "Можно с питомцами", checked: true},
                {text: "Можно пригласить гостей <br> (до 10 человек)", checked: true}
              ])
            .ui-elements__radio
              +heading({title: 'Radio Buttons'}).ui-elements__title-centr
              +radio([
                {text: "Мужчина", checked: true},
                {text: "Женщина", checked: false}
              ])
            .ui-elements__toggle
              +heading({title: 'Toggle'}).ui-elements__title-centr
              +toggle({
                text: "Получать спецпредложения",
                checked: true
              }).ui-elements__toggle-top
              +toggle({
                text: "Получать спецпредложения",
                checked: false
              })
            .ui-elements__like
              +heading({title: 'like button'}).ui-elements__title-centr
              .ui-elements__like-conteiner
                +like({quantity: 2}).ui-elements__like-left
                +like({isChecked: true, quantity: 12})
            .ui-elements__rating
              +heading({title: 'rate button'}).ui-elements__title-centr
              .ui-elements__rating-conteiner
                +rating(4).ui-elements__rating-left
                +rating(5)

          .ui-elements__top-column
            .ui-elements__slider
              +range-slider()
            .ui-elements__btn
              +heading({title: 'buttons'}).ui-elements__title-right
              .ui-elements__btn-row
                +btn({
                  typeBtn: 'link',
                  href: '#',
                  title: 'CLICK ME'
                }).ui-elements__btn-link-left
                +btn({
                  typeBtn: 'link',
                  href: '#',
                  title: 'CLICK ME'
                }).btn_theme-hover
              .ui-elements__btn-row
                +btn({
                  typeBtn: 'link',
                  href: '#',
                  title: 'CLICK ME'
                }).btn_theme-hollow.ui-elements__btn-link-left
                +btn({
                  typeBtn: 'link',
                  href: '#',
                  title: 'CLICK ME'
                }).btn_theme-hollow.btn_theme-hover
              .ui-elements__btn-row
                +btn({
                  typeBtn: 'button',
                  title: 'CLICK ME'
                }).btn_theme-no-wrapper.ui-elements__btn-left
                +btn({
                  typeBtn: 'button',
                  title: 'CLICK ME'
                }).btn_theme-no-wrapper.btn_theme-hover-no-wrapper
              .ui-elements__btn-row
                +btn({
                  typeBtn: 'button',
                  title: 'перейти к оплате'
                }).btn_theme-long
            .ui-elements__pagination
              +heading({title: 'pagination'}).ui-elements__title-right
              +pagination()

        section.ui-elements__dropdowns
          .ui-elements__dropdowns-column
            .ui-elements__drop-room
              +heading({title: 'dropdown', description: 'Default'}).ui-elements__drop-title
              +dropdown([
                {title: "спальни", count: 2},
                {title: "кровати", count: 2},
                {title: "ванные комнаты", count: 0},
              ])
            .ui-elements__drop-room-active
              +heading({title: 'dropdown',description: 'expanded'}).ui-elements__drop-title
              +dropdown([
                {title: "спальни", count: 2},
                {title: "кровати", count: 2},
                {title: "ванные комнаты", count: 0},
              ])
          .ui-elements__dropdowns-column
            .ui-elements__drop-guest
              +heading({title: 'dropdown'}).ui-elements__drop-title
              +dropdown([
                {title: "взрослые", count: 0},
                {title: "дети", count: 0},
                {title: "младенцы", count: 0},
              ], true)
          .ui-elements__dropdowns-column
            .ui-elements__drop-guest-filled
              +heading({title: 'dropdown'}).ui-elements__drop-title
              +dropdown([
                {title: "взрослые", count: 2},
                {title: "дети", count: 1},
                {title: "младенцы", count: 0},
              ], true)


        section.ui-elements__list
          .ui-elements__list-column
            +check-list().ui-elements__checklist
            +check-list({modClass: true})
          .ui-elements__list-column
            +heading({title: 'rich Checkbox Buttons'}).ui-elements__list-title
            +checkbox([
              {
                text: "Широкий коридор",
                checked: false,
                description: "Ширина коридоров в номере <br> не менее 91 см."
              },
              {
                text: "Помощник для инвалидов",
                checked: false,
                description: "На 1 этаже вас встретит специалист <br> и проводит до номера."},
            ])
          .ui-elements__list-column
            +heading({title: 'bullet list'}).ui-elements__list-title-right
            +bullet-list([
              'Нельзя с питомцами',
              'Без вечеринок и мероприятий',
              'Время прибытия — после 13:00, а выезд до 12:00',
              ]
            )
        section.ui-elements__footer
          .ui-elements__footer-column
            +information([
              {
                ico:'insert_emoticon',
                title:'Комфорт',
                description:'Шумопоглощающие стены',
                isLine: true
              },
              {
                ico:'location_city',
                title:'Удобство',
                description:'Окно в каждой из спален',
                isLine: true},
            ])
          .ui-elements__footer-column
            .ui-elements__comment
              +comment({
                img: 'male',
                alt: 'male',
                name:'Мурад Сарафанов',
                activity: '5 дней назад',
                like: {isChecked: true, quantity: 12},
                text: `Великолепный матрас на кровати в основной спальне!
                  А пуфик вообще потрясающий.,<br> И стены, действительно,
                  шумоподавляющие. Выкрикивал комплименты повару —
                  никто <br> не жаловался из соседей.`
                })
