include ../../components/logo/logo
include ../../components/heading/heading
include ../../components/text-field/text-field
include ../../components/dropdown/dropdown

include ../../components/checkbox/checkbox
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/like/like
include ../../components/rating/rating
include ../../components/slider/slider

include ../../components/check-list/check-list

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title ui-elements
  body
    .ui-elements
      .ui-elements__logo
        +logo()
      main.ui-elements__container
        section.ui-elements__top
          .ui-elements__top-column
            .ui-elements__text-def
              +heading({
                title: 'Text Field',
                descr: 'Default'
              }).ui-elements__title
              +text-field({
                type: 'email',
                name: 'email-field',
                placeholder: 'Email',
                value: ''
              })
            .ui-elements__text-hov
              +heading({
                title: 'Text Field',
                descr: 'Hover / Focus'
              }).ui-elements__title
              +text-field({
                type: 'text',
                name: 'text-field',
                placeholder: 'This is pretty awesome',
                value: 'This is pretty awesome'
              }).text-field__input_active
            .ui-elements__guests-drop
              +heading({title: 'Dropdown'}).ui-elements__title
              +dropdown([
                {title: "взрослые", count: 0},
                {title: "дети", count: 0},
                {title: "младенцы", count: 0},
              ])
            .ui-elements__text-mask
              +heading({title: 'masked text field'}).ui-elements__title
              +text-field({
                type: 'text',
                name: 'masked-field',
                placeholder: 'ДД.ММ.ГГГГ',
                value: ''
              })
            .ui-elements__date-drop
            .ui-elementst__filter-date-drop
              +heading({title: 'filter date dropdown'}).ui-elements__title
            .ui-elements__subs
              +heading({
                title: 'subscription text field'
              }).ui-elements__title
              +text-field({
                type: 'email',
                name: 'subscription',
                placeholder: 'Email',
                btnForward: true
              })

          .ui-elements__top-column
            .ui-elements__check-btn
              +heading({title: 'Checkbox Buttons'}).ui-elements__title-centr
              +checkbox([
                {text: "Можно курить", checked: false},
                {text: "Можно с питомцами", checked: true},
                {text: "Можно пригласить гостей <br> (до 10 человек)", checked: true}
              ])
            .ui-elements__radio
              +heading({title: 'Radio Buttons'}).ui-elements__title-centr
              +radio([
                {text: "Мужчина", checked: true},
                {text: "Женщина", checked: false}
              ])
            .ui-elements__toggle
              +heading({title: 'Toggle'}).ui-elements__title-centr
              +toggle([
                {text: "Получать спецпредложения", checked: true},
                {text: "Получать спецпредложения", checked: false}
              ])
            .ui-elements__like
              +heading({title: 'like button'}).ui-elements__title-centr
              .ui-elements__like-conteiner
                +like({
                  heart: 'favorite_border',
                  quantity: 2
                }).ui-elements__like-left
                +like({
                  heart: 'favorite',
                  quantity: 12
                }).like_active
            .ui-elements__rating
              +heading({title: 'rate button'}).ui-elements__title-centr
              .ui-elements__rating-conteiner
                +rating(4).ui-elements__rating-left
                +rating(5)

          .ui-elements__top-column
            .ui-elements__slider
              +slider({
                title: "Range Slider",
                price: "5 000₽ - 10 000₽"
              })

        section.ui-elements__dropdown



        section.ui-elements__list
          .ui-elements__checklist
            +check-list(
              "expandable checkbox list",
              [
                {text: "Завтрак", checked: false},
                {text: "Письменный стол", checked: true},
                {text: "Стул для кормления", checked: true},
                {text: "Кроватка", checked: true},
                {text: "Телевизор", checked: false},
                {text: "Шампунь", checked: false},
              ])
          .ui-elements__checklist-active
            +check-list(
              "expandable checkbox list",
              [
                {text: "Завтрак", checked: false},
                {text: "Письменный стол", checked: true},
                {text: "Стул для кормления", checked: true},
                {text: "Кроватка", checked: true},
                {text: "Телевизор", checked: false},
                {text: "Шампунь", checked: false},
                {text: "Телевизор", checked: false},
                {text: "Шампунь", checked: false},
              ])
