include ../../components/logo/logo
include ../../components/heading/heading
include ../../components/text-field/text-field

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title ui-elements
  body
    .ui-elements
      .ui-elements__logo
        +logo()
      main.ui-elements__container
        section.ui-elements__top
          .ui-elements__top-column
            .ui-elements__text-def
              +heading({
                title: 'Text Field',
                descr: 'Default'
              }).ui-elements__title
              +text-field({
                type: 'email',
                name: 'email-field',
                placeholder: 'Email',
                value: ''
              })
            .ui-elements__text-hov
              +heading({
                title: 'Text Field',
                descr: 'Hover / Focus'
              }).ui-elements__title
              +text-field({
                type: 'text',
                name: 'text-field',
                placeholder: 'This is pretty awesome',
                value: 'This is pretty awesome'
              }).text-field__input_active
            .ui-elements__guests-drop
              +heading({
                title: 'Dropdown'
              }).ui-elements__title
              +text-field({
                type: 'text',
                name: 'dropdown-text',
                placeholder: 'Сколько гостей',
                btnMore: true
              })
            .ui-elements__subs
              +heading({
                title: 'subscription text field'
              }).ui-elements__title
              +text-field({
                type: 'email',
                name: 'subscription',
                placeholder: 'Email',
                btnForward: true
              })
          .ui-elements__top-column
          .ui-elements__top-column
