mixin tone(options = {})

  - const {title, id, modClass} = options

  .tone&attributes(attributes)
    .tone__color(class=modClass ? `tone__color_${modClass}` : '')
    .tone__text
      h3.tone__title= title
      p.tone__id= id
