mixin room-info(options = {})
  -
    const {
      roomNumber = '888',
      modClass = false,
      roomType = 'люкс',
      roomPrice = '9 900'
    } = options

  .room-info
    .room-info__column
      .room-info__symbol №
      .room-info__number(class = modClass ? 'room-info__number_big' : '')=roomNumber
      .room-info__type=roomType
    .room-info__column
      .room-info__price=`${roomPrice}₽`
      .room-info__term в сутки
