mixin text-field(options)
  .text-field
    input.text-field__input&attributes(attributes)(
      type=options.type,
      name=options.name,
      placeholder=options.placeholder,
      value = options.value,
      data = options.data
      )
    if options.btnMore
      button.text-field__btn.material-icons expand_more
    if options.btnForward
      button(type="submit").text-field__btn.text-field__btn_purple.material-icons arrow_forward
