.slider {
  max-width: 266px;

  &__text {
    margin-bottom: 23px;
  }

  &__description {
    margin-top: 10.56px;
  }
}

.noUi-target {
  height: 6px;
  background: #FFFFFF;
  border: none;
  border: 1px solid $ds25;
  border-radius: 3px;
  box-shadow: none;
}

.noUi-touch-area {
  height: 8px;
}

.noUi-connect {
  background: $secondary-gr100;
  height: 6px;
  top: -1px;
}

.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  top: -6.5px;
  right: -7px;
}

.noUi-handle {
  background: $secondary-gr100;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  box-shadow: none;

  &::after {
    display: none;
  }

  &:before {
    display: none;
  }

}
